body {
	background-color: #000000;
}


.title {
	color: #C28E0E;
	text-align: center;
	font-family: "myriad-pro";
}

.button {
	background-color: #BAA892;
	font-family: "myriad-pro";
  	text-color: #FFFFFF;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 20px;
  	padding: 1em 1em 1em 1em;
  	transition-duration: 0.4s;
  	cursor: pointer;
}
